.header {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-align: right;
}

.description {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  text-align: right;
  font-style:normal;
  color: black;
  text-decoration-color: grey;
}