.content {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    vertical-align: baseline;
    text-align: left;
}

.button {
    display: flex;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.description {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  text-align: left;
}

.image {
    height: 5rem;
    width: auto;
}